services:
  clickhouse:
    image: clickhouse/clickhouse-server:23.11-alpine

  postgres:
    image: postgres:12-alpine
    volumes:
      - "./docker/volume/postgres/dump:/docker-entrypoint-initdb.d/"
    env_file:
      - .env

  mysql:
    image: mysql:8.0.31
    env_file:
      - .env

  tarantool:
    image: tarantool/tarantool:3.5
    env_file:
      - .env

  app:
    build:
      context: ./
      dockerfile: Dockerfile
    working_dir: "/usr/src/app"
    command: "sleep infinity"
    depends_on:
      - clickhouse
      - clickhouse1
      - clickhouse2
      - clickhouse-r-1
      - clickhouse-r-2
      - postgres
      - mysql
      - tarantool
    links:
      - clickhouse
      - clickhouse1
      - clickhouse2
      - clickhouse-r-1
      - clickhouse-r-2
      - postgres
      - mysql
      - tarantool
    volumes:
      - "./:/usr/src/app"
      - "~/.cache/go-build:/root/.cache/go-build"
      - "~/go/pkg/mod:/root/go/pkg/mod"
    env_file:
      - .env

  clickhouse-keeper:
    image: clickhouse/clickhouse-keeper:23.11-alpine
    restart: on-failure
    volumes:
      - "./docker/volume/clickhouse-cluster/config/keeper1/keeper_config.xml:/etc/clickhouse-keeper/keeper_config.xml"

  clickhouse1:
    image: clickhouse/clickhouse-server:23.11-alpine
    restart: on-failure
    volumes:
      - "./docker/volume/clickhouse-cluster/config/clickhouse1:/etc/clickhouse-server/config.d/"
    depends_on:
      - clickhouse-keeper

  clickhouse2:
    image: clickhouse/clickhouse-server:23.11-alpine
    restart: on-failure
    volumes:
      - "./docker/volume/clickhouse-cluster/config/clickhouse2:/etc/clickhouse-server/config.d/"
    depends_on:
      - clickhouse-keeper

  clickhouse-keeper-r:
    image: clickhouse/clickhouse-keeper:23.11-alpine
    restart: on-failure
    volumes:
      - "./docker/volume/clickhouse-cluster-replicated/config/keeper1/keeper_config.xml:/etc/clickhouse-keeper/keeper_config.xml"

  clickhouse-r-1:
    image: clickhouse/clickhouse-server:23.11-alpine
    restart: on-failure
    volumes:
      - "./docker/volume/clickhouse-cluster-replicated/config/clickhouse1:/etc/clickhouse-server/config.d/"
      - "./docker/volume/clickhouse-cluster-replicated/config/clickhouse1/users.xml:/etc/clickhouse-server/users.d/users.xml"
    depends_on:
      - clickhouse-keeper-r

  clickhouse-r-2:
    image: clickhouse/clickhouse-server:23.11-alpine
    restart: on-failure
    volumes:
      - "./docker/volume/clickhouse-cluster-replicated/config/clickhouse2:/etc/clickhouse-server/config.d/"
      - "./docker/volume/clickhouse-cluster-replicated/config/clickhouse2/users.xml:/etc/clickhouse-server/users.d/users.xml"
    depends_on:
      - clickhouse-keeper-r
