version: "3.7"

services:
  clickhouse:
    image: yandex/clickhouse-server:21.11.3.6-alpine
    volumes:
      - "./docker/volume/clickhouse/dump:/docker-entrypoint-initdb.d/"

  postgres:
    image: postgres:12-alpine
    volumes:
      - "./docker/volume/postgres/dump:/docker-entrypoint-initdb.d/"
    env_file:
      - .env

  mysql:
    image: mysql:8.0.31
    env_file:
      - .env

  app:
    image: raoptimus/go-magick:latest
    working_dir: "/usr/src/app"
    command: "sleep infinity"
    depends_on:
      - clickhouse
      - clickhouse1
      - clickhouse2
      - postgres
      - mysql
    volumes:
      - "./:/usr/src/app"
      - "~/.cache/go-build:/root/.cache/go-build"
      - "~/go/pkg/mod:/go/pkg/mod"
    env_file:
      - .env

  zookeeper:
    image: zookeeper

  clickhouse1:
    image: yandex/clickhouse-server:21.11.3.6-alpine
    restart: on-failure
    volumes:
      - "./docker/volume/clickhouse-cluster/dump:/docker-entrypoint-initdb.d/"
      - "./docker/volume/clickhouse-cluster/config/config_1.xml:/etc/clickhouse-server/config.xml"
      - "./docker/volume/clickhouse-cluster/config/config_replica.xml:/etc/clickhouse-server/clickhouse_replication_config.xml"
    depends_on:
      - zookeeper

  clickhouse2:
    image: yandex/clickhouse-server:21.11.3.6-alpine
    restart: on-failure
    volumes:
      - "./docker/volume/clickhouse-cluster/config/config_2.xml:/etc/clickhouse-server/config.xml"
      - "./docker/volume/clickhouse-cluster/config/config_replica.xml:/etc/clickhouse-server/clickhouse_replication_config.xml"
    depends_on:
      - zookeeper
