name: Test

on:
  push:
    paths-ignore:
      - 'doc/**'
      - '**.md'
    branches: [main]
    tags: [v*]
  pull_request:
    paths-ignore:
      - 'doc/**'
      - '**.md'

jobs:
  docker:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run docker-compose
        uses: hoverkraft-tech/compose-action@v2.0.1
        with:
          compose-file: "./docker-compose.yml"

      - name: Run lint
        run: docker compose exec -T app make lint

      - name: Run unit tests
        run: docker compose exec -T app make test-unit

      - name: Run integration tests
        run: docker compose exec -T app make test-integration

      - name: Generate coverage report
        run: docker compose exec -T app make test-coverage

      - name: Setup Go for coverage badge
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'

      - name: Create coverage badge
        uses: ncruces/go-coverage-report@v0
        with:
          coverage-file: .report/coverage.txt
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
